<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.eldorado.eldphoto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <!-- Accessing camera hardware -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pic_send"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.eldorado.eldphoto.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.CamActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cam"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="@string/ACTION_CAM" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.DealWithPictureActivity"
            android:label="@string/title_activity_deal_with_picture"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="@string/ACTION_DEAL_WITH_PICTURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.ShowPicsActivity"
            android:label="@string/title_activity_show_pics" >
        </activity>
        <activity
            android:name="org.eldorado.eldphoto.ViewImageActivity"
            android:label="@string/title_activity_view_image" >
        </activity>
    </application>

</manifest>
